.list_item {
  list-style: none;
  text-align: start;
  width: 320px;
  height: 64px;
}

.profile_link,
.profile_link:link,
.profile_link:visited,
.profile_link:active {
  text-decoration: none;
  color: #8585ad;
}

.active,
.active:link,
.active:visited,
.active:active {
  color: white;
}
