.ingredients_section {
    max-width: 50%;
}

.heading {
    text-align: start;
}

.scrollable_box {
    overflow-y: auto;
    min-height: fit-content;
    max-height: 55vh;
}

.scrollable_box::-webkit-scrollbar {
    width: 10px;
}

.scrollable_box::-webkit-scrollbar-track {
    background: #2F2F37
}

.scrollable_box::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.tab_container {
    display: flex;
}

.cards_container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    width: 46%;
    position: relative;
}

.currency_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.name_box {
    display: flex;
    justify-content: center;

}

.name_box p {
   margin-top: 5px;
}