.header {
  display: flex;
  height: 88px;
  top: 40px;
  left: 40px;
  background-color: #1c1c21;
}

.nav {
  position: relative;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.nav_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav_box_logo {
  /* margin: auto;
  flex-grow: 0.5; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_link svg {
  fill: #8585ad;
}

.nav_link {
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}

.nav_link:link {
  color: #8585ad;
}

.nav_link:visited {
  color: #8585ad;
}

.nav_link_active p {
  color: #ffffff;
}

.nav_link_active svg {
  fill: #ffffff;
}
